html{
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-image: url(Fundo-Gradient.png);
    background-size: cover;
    background-position: center;
}

/* srcollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 5px grey;
    border: 0.5px solid white;
}

::-webkit-scrollbar-thumb {
    background: #5e5454;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: #464040;
}

::selection {
    background-color: #771b1b;
    color: white;
}

.container {
    margin: 5% 15% 2% 15%;
    width: 70%;
    padding: 1%;
    background: #f0f0d1;
}

/* historia */

#cap-2 {
    font-size: large;
    max-width: 80%;
    margin: 3% 10% 5% 10%;
}

#msg {
    font-size: 24px;
    margin: 10px auto;
    width: fit-content;
    cursor: pointer;
    max-width: 200px;
    text-decoration: underline;

    animation-name: space;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.popup-image {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 20px;
    width: 20%;
    height: auto;
}

.titulo, #data {
    text-align: center;
}

.titulo {
    margin-bottom: 8px;
    font-family: 'PT Sans', sans-serif;
}

#data{
    margin-bottom: 16px;
    font-family: 'Poor Story', cursive;
}

.horario mark {
    background-color: black;
    color: white;
}

.text p {
    font-size: medium;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
}

#turnRed {
    color: #870404;
}

/* popup nomes */
#call-popup {
    margin-top: 24px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    text-decoration: underline;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}

.popup-content{
    background-image: url(Fundo-Gradient.png);
    background-position: center;
    
    margin: 10% auto;
    width: 35%;
    padding: 1%;

    color: #f0f0d1;
    border: 3px solid black;
    border-radius: 15px;
}

#close-popup{
    width: fit-content;
    float: right;

    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

#close-popup:hover {
    color: #c80000;
    text-decoration: underline;
}

.popup p {
    text-align: center;
    padding-bottom: 5px;

    font-size: 20px;
    border-bottom: 3px solid #000;
}

.opcoes {
    font-family: 'Poor Story', cursive;
    font-size: 28px;
    cursor: pointer;
    
    display: block;
    margin: 15px auto 0 auto;
    width: fit-content;

    color: inherit;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 400ms;

}

.opcoes:hover {
    color: #c80000;
    text-decoration-color: rgba(255, 255, 255, 1);
}

/* parte da setinha de voltar
    e tambem o X de fechar */

.interacao {
    width: 100%;
    position: relative;
    margin-top: 16px;
    padding: 35px;
}

.interacao img {
    width: 50px;
    height: 50px;
    margin-top: 18px;
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(2px 4px 4px #585858);
}

.interacao #setinha {
    transform: rotateY(180deg);

    animation-name: setaProximo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#setinha:hover {
    transform: rotateY(-180deg);
}

/* movimentação dos botoes de interção */

@keyframes space {

    0% {
        letter-spacing: 1px;
    }

    50% {
        letter-spacing: 2px;
    }

    100% {
        letter-spacing: 4px;
    }
}

@keyframes setaProximo {
    0% {
        top: 0px;
        left: 0px;
    }

    50% {
        top: 4px;
        left: 4px;
    }

    100% {
        top: 8px;
        left: 8px;
    }
}

/* adaptação mobile */

@media screen and (max-width:600px) {

    .container {
        margin: 5% 5% 2% 5%;
        width: 90%;
        padding: 1%;
        background: #f0f0d1;
    }

    .popup-image img {
        width: 45%;
    }

    #msg {
        font-size: 14px;
        max-width: 120px;
    }

    p {
        font-size:small;
    }

    .titulo {
        font-size: 18px;
    }

    #data {
        font-size: 16px;
    }

    .horario {
        font-size: 14px;
    }

    .interacao img{
        width: 30px;
        height: 30px;
    }

    .interacao {
        padding: 25px;
    }

    .popup-content {
        width: 75%;
        padding: 2%;
        margin-top: 30%;
    }

    .popup-content p {
        font-size: 14px;
    }

    .opcoes {
        text-decoration-color: rgba(255, 255, 255, 1);
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    #close-popup {
        font-size: 24px;
        text-decoration: underline #c80000;
    }

    #call-popup {
        font-size: 24px;
    }
}
